<div class="container" id="all-images">
	
	
	<div class="col-xs-6 col-sm-4 col-md-2 col-lg-1">
		<div class="addimage">
		
			<!--form-->
			
		</div>
	</div>


	{{#each images}}


	<div class="col-xs-6 col-sm-4 col-md-2 col-lg-1">
		<div class="thumbnail img-thubnail">
		
			<div class="image">
				{{imagepath}}
			</div>
			
			<div class="datetime">
				<div class="date">
					{{date}}
				</div>
			
				<div class="time">
					{{time}}
				</div>
			</div>
			
		</div>
	</div>


	{{/each}}


</div>





