	
<div class="container vcentered">
	<div class="col-xs-12 col-sm-7 col-md-5 col-lg-5 loginform col-centered">

		<form class="form-horizontal">
		  <div class="form-group">
			<label class="sr-only" for="exampleInputAmount">Email</label>
			<div class="input-group centered">
				<div class="input-group-addon">Email</div>
				<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
			</div>
		  </div>
		  <div class="form-group">
			<label class="sr-only" for="exampleInputAmount">Password</label>
			<div class="input-group centered">
				<div class="input-group-addon">Password</div>
				<input type="password" class="form-control" id="inputPassword3" placeholder="Password">
			</div>
		  </div>
		  <div class="remember">
			  <div class="form-group centered">
				<div>
				  <div class="checkbox">
					<label>
					  <input type="checkbox"> Remember me
					</label>
				  </div>
				</div>
			  </div>
		  </div>
		  <div class="form-group">
			<div>
			  <button type="submit" class="btn btn-login">Sign in</button>
			</div>
		  </div>
		</form>
	
	</div>
</div>
	
	
	
	
