<div class="container vcentered">
	<div class="col-xs-12 col-sm-7 col-md-5 col-lg-5 col-centered">
		
		<div class="wrongpassword">
			Login/password is incorrect. You will be redirected to login page automatically.
		</div>
	  	<button class="btn btn-gotologin" onclick='window.location=\"/login\"'>Go to login page</button>
	
	</div>
</div>


<script>setTimeout(function(){window.location="/login"}, 5000)</script>
	
	
	
