body {
	font-family: 'Roboto', sans-serif;
	color: rgba(0,0,0,0.65);
	font-size: 16px;
	background-color: #34495E;
}


.loginform input {
	border-radius: 20px;
	border: 0px;
}
.loginform .input-group-addon {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: #4B77BE;
	width: 90px;
	color: #FFFFFF;
	font-weight: 500;
	border: 0px;
}

.form-horizontal {
	text-align: center;
}
.remember {
	margin-bottom: 20px;
	color: #BDC3C7;
}


.cursorpointer {
	cursor: pointer;
}
.nopadding {
	padding: 0px;
}


.modal-content {
	border-radius: 4px;
	background-color: #34495E;
	color: #ffffff;
	
}
.modal-header {
	background-color: #22313F;
	border-bottom: 0px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}
.modal-footer {
	border-top: 0px;
}
.modal-content .close {
	color: #ffffff;
	opacity: 0.3;
}
.modal-content .close:hover {
	opacity: 0.9;
}

.input-group {
	
}
#form1 .input-group-addon, #form1 .form-control {
	height: 48px;
	color: #aaa;
	border: solid 1px #22313F;
}
#form1 .input-group-addon {
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: #22313F;
}
#form1 .form-control {
	padding-top: 12px;
}
.btn-upload {
	margin: 0px;
	height: 45px;
	background-color: rgba(255, 255, 255, 0);
}
.btn-upload:hover, .btn-upload:focus, .btn-upload:active {
	color: #ffffff;
}
.btn-footer {
	background-color: #22313F;
}
.btn-footer:hover, .btn-footer:focus, .btn-footer:active {
	color: #ffffff;
}


.bluenav {
	background-color: #22313F;
	border-radius: 0px;
	color: #ffffff;
	border: 0px;
}
.bluenav .navbar-brand {
	font-family: 'Lobster', cursive;
	color: #ffffff;
	font-size: 26px;
	margin-right: 30px;
	padding-top: 12px;
}
.bluenav .navbar-brand:hover {
	color: #ffffff;
}
.bluenav .navbar-nav>li>a {
	color: #ffffff;
	transition: all 0.3s ease;
}
.bluenav .navbar-nav>li>a:hover {
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.3);
}
.bluenav .navbar-nav>.active>a {
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.3);
}
.bluenav .navbar-nav>.active>a:hover {
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.3);
}
.bluenav .navbar-nav>.active>a:active {
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.3);
}
.bluenav .navbar-nav>.active>a:focus {
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.3);
}
.bluenav .navbar-toggle:focus, .navbar-toggle:active, .navbar-toggle:hover{
    color: #ffffff;
	background-color: #22313F;
}



.thumbscontainer {
	padding-left: 20px;
	padding-right: 20px;
}

.thumb {
	padding: 10px;
}
.square-thumbnail {
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
    background-color: #ffffff;
    border-radius: 4px;
}
.square-thumbnail img{
    position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.square-thumbnail img.portrait {
	width: 100%;
	height: auto;
}


.wrongpassword, .notauthorized {
	background-color: #ffffff;
	padding: 30px;
	border-radius: 4px;
}

.warning {
	margin: 10px;
	margin-top: 20px;
	margin-bottom: 50px;
	text-align: center;
}


.bigmodal .modal-dialog {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 10px;
}
.bigmodal .modal-content {
	height: auto;
	min-height: 100%;
}

.bigmodal .modal-body {
	padding: 0px;
}
.bigmodal .modal-footer {
	padding: 6px;
}



hr {
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #FFFFFF;
}

.hr2 {
	border-top: 1px dashed #DDDDDD;
	border-bottom: 1px dashed #FFFFFF;
	margin-top: 8px;
}


.inline{
	display: inline-block;
}

.col-centered {
	float: none;
	margin: 0 auto;
}
.vcentered {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh;
	display: flex;
	align-items: center;
}



.btn-login {
	text-transform: uppercase;
	cursor: pointer;
	color: #FFFFFF;
	width: 120px;
	height: 40px;
	font-weight: 500;
	text-align: center;
	margin: 4px;
	background-color: #4B77BE;
	border-radius: 30px;
	border: 0px;
}
.btn-login i {
	font-size: 28px;
	margin-right: 10px;
	vertical-align: middle;
}
.btn-login:hover {
	color: #FFFFFF;
	background-color: #4F7BC1;
}
.btn-login:active {
	color: #FFFFFF;
}
.btn-login:focus {
	color: #FFFFFF;
}

.btn-gotologin {
	text-transform: uppercase;
	cursor: pointer;
	color: #FFFFFF;
	width: 200px;
	height: 40px;
	font-weight: 500;
	text-align: center;
	margin: 4px;
	background-color: #4B77BE;
	border-radius: 30px;
	border: 0px;
}
.btn-gotologin:hover {
	color: #FFFFFF;
	background-color: #4F7BC1;
}
.btn-gotologin:active {
	color: #FFFFFF;
}
.btn-gotologin:focus {
	color: #FFFFFF;
}



.material-icons {
	vertical-align: bottom;
	font-size: 26px;
}


h1 {
	color: #676767;
	font-weight: 500;
}
h2 {
	font-size: 20px;
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 18px;
}

.centered {
    margin: 0 auto;
}

.centercontent {
	text-align: center;
}

.black {
	background-color: #000000;
}






.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}
